{% extends "layout.html" %}

{% block title %}La Posada B&B{% endblock %}

{% block content %}
<section class="home" id="home">
   <div class="container">
      <div class="items">
         <div class="item">
            <div class="content">
               <h1 class="title">
                  Bienvenido a La Posada B&B
               </h1>
               <div class="desc">
                  <p>
                     Usted puede tener la comodidad que necesite en nuestro Hotel.
                  </p>
               </div>
               <div class="buttons">
                  <button class="btn">Reserva Ya!</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
