{% extends "layout.html" %}

{% block title %}Sobre Nosotros | La Posada B&B{% endblock %}

{% block content %}
<section class="home" id="home">
   <div class="container">
      <div class="items">
         <div class="item">
            <div class="content">
               <h1 class="title about-title">
                  Sobre Nosotros
               </h1>
               <div class="buttons">
                  <button class="btn">Reserva Ya</button>
               </div>
            </div>

         </div>
         <div class="item">
            <div class="box about-box">
               <div class="desc">
                  <p>
                     <span>La Posada B&B es un hotel de lujo ubicado en la ciudad de San Pedro Sula, Honduras. Ofrecemos una amplia gama de servicios y comodidades para nuestros huéspedes, incluyendo habitaciones comodas, desayunos bien hechos, y una piscina de uso completo. Nuestro personal amable y educado está siempre dispuesto a ayudarle con cualquier pregunta o necesidad que pueda tener durante su estancia. ¡Esperamos darle la bienvenida a La Posada B&B pronto!
                  </p>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}
