{% extends "layout.html" %}

{% block title %}Contactanos | La Posada B&B{% endblock %}

{% block content %}
<section class="home" id="home">
   <div class="container">
      <div class="items">
         <div class="item">
            <div class="box">
               <h1 class="title">Contactanos</h1>

               <form onsubmit="emailSend(); reset(); return false;" class="form">
                  <div class="line">
                     <label for="">Nombre</label>
                     <input type="text" name="personName" id="personName" class="input" placeholder="Juan Carlos" required>
                  </div>
                  <div class="line">
                     <label for="">Telefono</label>
                     <input type="tel" name="phone" id="phone" class="input" placeholder="+504 9999-9999" required>
                  </div>
                  <div class="line">
                     <label for="">Correo</label>
                     <input type="email" name="correo" id="correo" class="input" placeholder="tucorreo@gmail.com" required>
                  </div>
                  <div class="line">
                     <input type="submit" value="Enviar" class="btn">
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>

<script src="https://smtpjs.com/v3/smtp.js"></script>
{% endblock %}
