<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>La Posada B&B</title>
   <link rel="stylesheet" href="/static/habitaciones.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <link rel="icon" type="image/x-icon" href="/static/assets/icon/icon.png">
</head>

<body>
   <header class="header" id="header">
      <nav class="navbar">
         <a href="home.html" class="logo-link">La Posada<span>B&B</span></a>
         <div class="navigation" id="navigation">
            <a href="home.html" class="link">Inicio</a>
            <a href="habitaciones.html" class="link">Habitaciones</a>
            <a href="about.html" class="link">Sobre Nosotros</a>
            <a href="services.html" class="link">Servicios</a>

         </div>
         <div class="controls" id="controls">
            <span class="icon"><i class="bx bx-user"></i></span>
            <span class="icon"><i class="bx bx-search"></i></span>
            <span class="icon menu" id="menu"><i class="bx bx-menu-alt-right"></i></span>
         </div>
      </nav>
   </header>
   <!-- Our Rooms -->

   <div class="my-5 px-4" id="facilities-header">
      <h2 class="fw-bold h-font text-center" id="habitaciones">Nuestros tipos de Habitaciones</h2>
      <div class="h-line bg-dark line"></div>
   </div>

   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6 my-3">
            <div class="card border-0 shadow" style="max-width: 350px; margin: auto;">
               <img src="/static/assets/habitacion_5.jpeg" class="card-img-top">
               <div class="card-body">
                  <h5>Habitacion Sencilla</h5>
                  <!-- <h6 class="mb-4">L. 800 por noche</h6> -->
                  <div class="features mb-4">
                     <h6 class="mb-1">Caracteristicas</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Agua Caliente
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Utensilios de Baños
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>1 Cama
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>1 Baño
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>1 Balcon
                     </span>
                  </div>
                  <div class="facilities mb-4">
                     <h6 class="mb-1">Servicios</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Wi-Fi Gratis
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Piscina Incluida
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Baño Privado
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Desayuno Incluido
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 my-3">
            <div class="card border-0 shadow" style="max-width: 350px; margin: auto;">
               <img src="/static/assets/habitacion_1.jpg" class="card-img-top">
               <div class="card-body">
                  <h5>Habitacion Doble</h5>
                  <!-- <h6 class="mb-4">L. 1,200 por noche</h6> -->
                  <div class="features mb-4">
                     <h6 class="mb-1">Caracteristicas</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Agua Caliente
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Utensilios de Baños
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>2 Camas
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>1 Baño
                     </span>
                  </div>
                  <div class="facilities mb-4">
                     <h6 class="mb-1">Servicios</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Wi-Fi Gratis
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Piscina Incluida
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Baño Privado
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Desayuno Incluido
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 my-3">            <div class="card border-0 shadow" style="max-width: 350px; margin: auto;">
               <img src="/static/assets/habitacion_2.jpg" class="card-img-top">
               <div class="card-body">
                  <h5>Habitacion Triple</h5>
                  <!-- <h6 class="mb-4">L. 1,350 por noche</h6> -->
                  <div class="features mb-4">
                     <h6 class="mb-1">Caracteristicas</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Agua Caliente
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Utensilios de Baños
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>3 Camas
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>1 Baño
                     </span>
                  </div>
                  <div class="facilities mb-4">
                     <h6 class="mb-1">Servicios</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Wi-Fi Gratis
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Piscina Incluida
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Baño Privado
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Desayuno Incluido
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 my-3">
            <div class="card border-0 shadow" style="max-width: 350px; margin: auto;">
               <img src="/static/assets/habitacion-quadruble.jpeg" class="card-img-top">
               <div class="card-body">
                  <h5>Habitacion Quadruple</h5>
                  <!-- <h6 class="mb-4">L. 1,500 por noche</h6> -->
                  <div class="features mb-4">
                     <h6 class="mb-1">Caracteristicas</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Agua Caliente                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Utensilios de Baños
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>4 Camas
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>1 Baño
                     </span>
                  </div>
                  <div class="facilities mb-4">
                     <h6 class="mb-1">Servicios</h6>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Wi-Fi Gratis
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Piscina Incluida
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Baño Privado
                     </span>
                     <span class="badge rounded-pill bg-light text-dark text-wrap">
                        <i class="bi bi-check-circle-fill me-2"></i>Desayuno Incluido
                     </span>
                  </div>
               </div>
            </div>
         </div>



      </div>



   </div>



   <!-- Footer -->
   <footer class="footer">
      <div class="section__container footer__container">
         <div class="footer__col">
            <h3>La Posada B&B</h3>
            <p>
               Esperamos que puedas darnos oportunindad de servirte en tu proxima visita a San Pedro Sula. Nuestro hotel
               tiene servicios comods para que te sientas como en casa, con un ambiente tranquilo y relajante, que               puedes
               disfrutar con tu familia o amigos.
            </p>
            <p>
               Tenemos un staff amable y atento, que te ayudara en lo que necesites durante tu estadia.
            </p>
         </div>
         <div class="col-lg-4 p-4">
            <h5 class="mb-3 text-white">Links</h5>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Inicio</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Reservar</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Servicios</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Contactanos</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Sobre Nosotros</a> <br>
         </div>
         <div class="col-lg-4 p-4">
            <h5 class="mb-3 text-white">Follow Us</h5>
            <a href="https://www.facebook.com/laposada.hostel.5/"
               class="d-inline-block text-white text-decoration-none mb-2" target="_blank"><i
                  class="bi bi-facebook"></i>
               Facebook</a> <br>
            <a href="https://www.tiktok.com/@laposadasps" class="d-inline-block text-white text-decoration-none mb-2"
               target="_blank"><i class="bi bi-tiktok"></i> Tiktok</a> <br>
            <a href="https://www.instagram.com/laposadabyb/" class="d-inline-block text-white text-decoration-none"
               target="_blank"><i class="bi bi-instagram"></i> Instagram</a> <br>
         </div>
      </div>
      <div class="section__container footer__bar">
         <p>Copyright © 2023 Web Design Mastery. All rights reserved.</p>
      </div>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

</html>
