<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}La Posada B&B{% endblock %}</title>
   <link rel="stylesheet" href="{{ url_for('static', filename=stylesheet) }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
   {% block heading %}{% endblock %}
   <header class="header" id="header">
      <nav class="navbar">
         <a href="{{ url_for('home_page') }}" class="logo-link">
            La Posada<span>B&B</span>
         </a>
         <div class="navigation" id="navigation">
            <a href="{{ url_for('home_page') }}" class="link">Inicio</a>
            <a href="{{ url_for('reservation_page') }}" class="link">Reserva</a>
            <a href="{{ url_for('about_page') }}" class="link">Sobre Nosotros</a>
            <a href="{{ url_for('services_page') }}" class="link">Servicios</a>
            <a href="{{ url_for('news_page') }}" class="link">Noticias</a>
            <a href="{{ url_for('contact_page') }}" class="link">Contactanos</a>
         </div>
         <div class="controls" id="controls">
            <span class="icon"><i class="bx bx-user"></i></span>
            <span class="icon"><i class="bx bx-search"></i></span>
            <span class="icon menu" id="menu"><i class="bx bx-menu-alt-right"></i></span>
         </div>
      </nav>
   </header>

   <main>
      {% block content %}
      {% endblock %}
   </main>

   <script src="/static/js/script.js"></script>
</body>

</html>
