<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>La Posada B&B</title>
   <link rel="stylesheet" href="/static/services.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
   <link rel="icon" type="image/x-icon" href="/static/assets/icon/icon.png">
</head>

<body>
   <header class="header" id="header">
      <nav class="navbar">
         <a href="home.html" class="logo-link">La Posada<span>B&B</span></a>
         <div class="navigation" id="navigation">
            <a href="home.html" class="link">Inicio</a>
            <a href="habitaciones.html" class="link">Habitaciones</a>
            <a href="about.html" class="link">Sobre Nosotros</a>
            <a href="services.html" class="link">Servicios</a>


         </div>
         <div class="controls" id="controls">
            <span class="icon"><i class="bx bx-user"></i></span>
            <span class="icon"><i class="bx bx-search"></i></span>
            <span class="icon menu" id="menu"><i class="bx bx-menu-alt-right"></i></span>
         </div>
      </nav>
   </header>

   <div class="my-5 px-4" id="facilities-header">
      <h2 class="fw-bold h-font text-center" id="nuestros-servicios" >Nuestros Servicios</h2>
      <div class="h-line bg-dark line"></div>
      <p class="text-center mt-3">
         Disfruta de una estancia cómoda y placentera con todos los servicios que necesitas. En La Posada B&B,
         <br> cuidamos cada detalle para que tu experiencia sea inolvidable.
      </p>
   </div>

   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white p-4 shadow rounded border-top border-4 border-dark pop">
               <div class="d-flex align-items-center mb-2">
                  <img src="/static/assets/facilities/bath.svg" width="40px">
                  <h5 class="m-0 ms-3">Agua Caliente</h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white p-4 shadow rounded border-top border-4 border-dark pop">
               <div class="d-flex align-items-center mb-2">
                  <img src="/static/assets/facilities/breakfast.svg" width="40px">
                  <h5 class="m-0 ms-3">Desayunos Incluidos</h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white p-4 shadow rounded border-top border-4 border-dark pop">
               <div class="d-flex align-items-center mb-2">
                  <img src="/static/assets/facilities/pool.svg" width="40px">
                  <h5 class="m-0 ms-3">Piscina Incluida</h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white p-4 shadow rounded border-top border-4 border-dark pop">
               <div class="d-flex align-items-center mb-2">
                  <img src="/static/assets/facilities/restroom.svg" width="40px">
                  <h5 class="m-0 ms-3">Baños Privados</h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white p-4 shadow rounded border-top border-4 border-dark pop">
               <div class="d-flex align-items-center mb-2">
                  <img src="/static/assets/facilities/wifi.svg" width="40px">
                  <h5 class="m-0 ms-3">Wifi Gratis</h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white p-4 shadow rounded border-top border-4 border-dark pop">
               <div class="d-flex align-items-center mb-2">
                  <img src="/static/assets/facilities/car.png" width="40px">
                  <h5 class="m-0 ms-3">Parqueo Exclusivo</h5>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Footer -->
   <footer class="footer">
      <div class="section__container footer__container">
         <div class="footer__col">
            <h3>La Posada B&B</h3>
            <p>
               Esperamos que puedas darnos oportunindad de servirte en tu proxima visita a San Pedro Sula. Nuestro hotel
               tiene servicios comods para que te sientas como en casa, con un ambiente tranquilo y relajante, que
               puedes
               disfrutar con tu familia o amigos.
            </p>
            <p>
               Tenemos un staff amable y atento, que te ayudara en lo que necesites durante tu estadia.
            </p>
         </div>
         <div class="col-lg-4 p-4">
            <h5 class="mb-3 text-white">Links</h5>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Inicio</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Reservar</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Servicios</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Contactanos</a> <br>
            <a href="#" class="d-inline-block mb-2 text-white text-decoration-none">Sobre Nosotros</a> <br>
         </div>
         <div class="col-lg-4 p-4">
            <h5 class="mb-3 text-white">Follow Us</h5>
            <a href="https://www.facebook.com/laposada.hostel.5/"
               class="d-inline-block text-white text-decoration-none mb-2" target="_blank"><i
                  class="bi bi-facebook"></i>
               Facebook</a> <br>
            <a href="https://www.tiktok.com/@laposadasps" class="d-inline-block text-white text-decoration-none mb-2"
               target="_blank"><i class="bi bi-tiktok"></i> Tiktok</a> <br>
            <a href="https://www.instagram.com/laposadabyb/" class="d-inline-block text-white text-decoration-none"
               target="_blank"><i class="bi bi-instagram"></i> Instagram</a> <br>
         </div>
      </div>
      <div class="section__container footer__bar">
         <p>Copyright © 2023 Web Design Mastery. All rights reserved.</p>
      </div>
   </footer>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</body>

</html>
